In [4]:
!pip install pandas

Requirement already satisfied: pandas in d:\new drive\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\new drive\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\new drive\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\new drive\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\new drive\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\new drive\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [6]:
#dataframe series
import pandas as pd
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
#dataframe creation
data = {'name': ['Alice', 'Bob'], 'age': [25, 30]}
df = pd.DataFrame(data)
print(df)

    name  age
0  Alice   25
1    Bob   30

In [23]:
#read from csv
import pandas as pd
df = pd.read_csv(r"C:\Users\janan\OneDrive\Desktop\Internship\py git\Student_dataset_1.csv")  # 'data.csv'in folder
print(df.head())  # first 5 rows

       NAME  AGE  GENDER  PERCENT PASS/FAIL PUNCTUALITY  BEHAVIOUR DEPARTMENT  \
0  Gayathri   20  Female       37      Fail     On Time    Average        CSE
1     Kumar   18    Male       77      Pass        Late  Excellent         IT
2   Kishore   20    Male       43      Fail        Late    Average        ECE
3   Vasanth   19    Male       99      Pass     On Time  Excellent        CSE
4      Devi   17  Female       92      Pass     On Time    Average         IT

   DISCIPLINE SCORE  SEMESTER  ARREARS SPORTS  INTERNSHIP  PROJECTS  TARGET
0                 5         3        3     NO           1         1       1
1                 9         2        0    YES           0         0       0
2                 7         3        3     NO           1         0       1
3                 7         5        0    YES           0         2       0
4                 8         4        0    YES           2         2       0

In [21]:
print(df.shape)    # Rows and columns count
print(df.columns)  # Column names
print(df.describe())  # Summary statistics for numeric columns
print(df.info())      # Data types and non-null counts

(100, 15)
Index(['NAME', 'AGE', 'GENDER', 'PERCENT', 'PASS/FAIL', 'PUNCTUALITY',
       'BEHAVIOUR', 'DEPARTMENT', 'DISCIPLINE SCORE', 'SEMESTER', 'ARREARS',
       'SPORTS', 'INTERNSHIP', 'PROJECTS', 'TARGET'],
      dtype='object')
              AGE    PERCENT  DISCIPLINE SCORE    SEMESTER     ARREARS  \
count  100.000000  100.00000        100.000000  100.000000  100.000000
mean    18.230000   59.00000          6.310000    4.200000    1.280000
std      1.062254   23.10538          1.440363    0.887625    1.333939
min     17.000000   30.00000          3.000000    2.000000    0.000000
25%     17.000000   37.75000          5.000000    4.000000    0.000000
50%     18.000000   54.50000          7.000000    4.000000    1.500000
75%     19.000000   79.25000          7.000000    5.000000    2.250000
max     20.000000  100.00000          9.000000    6.000000    4.000000

       INTERNSHIP    PROJECTS      TARGET
count  100.000000  100.000000  100.000000
mean     0.600000    0.740000    0.500000
std      0.635642    0.733333    0.502519
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      1.000000    1.000000    0.500000
75%      1.000000    1.000000    1.000000
max      2.000000    2.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NAME              100 non-null    object
 1   AGE               100 non-null    int64
 2   GENDER            100 non-null    object
 3   PERCENT           100 non-null    int64
 4   PASS/FAIL         100 non-null    object
 5   PUNCTUALITY       100 non-null    object
 6   BEHAVIOUR         100 non-null    object
 7   DEPARTMENT        100 non-null    object
 8   DISCIPLINE SCORE  100 non-null    int64
 9   SEMESTER          100 non-null    int64
 10  ARREARS           100 non-null    int64
 11  SPORTS            100 non-null    object
 12  INTERNSHIP        100 non-null    int64
 13  PROJECTS          100 non-null    int64
 14  TARGET            100 non-null    int64
dtypes: int64(8), object(7)
memory usage: 11.8+ KB
None

In [14]:
# Select a column
print(df['AGE'])

# Select first row by index
print(df.iloc[0])

# Select rows with a condition
print(df[df['AGE'] > 25])

0     20
1     18
2     20
3     19
4     17
      ..
95    20
96    17
97    20
98    17
99    17
Name: AGE, Length: 100, dtype: int64
NAME                Gayathri
AGE                       20
GENDER                Female
PERCENT                   37
PASS/FAIL               Fail
PUNCTUALITY          On Time
BEHAVIOUR            Average
DEPARTMENT               CSE
DISCIPLINE SCORE           5
SEMESTER                   3
ARREARS                    3
SPORTS                    NO
INTERNSHIP                 1
PROJECTS                   1
TARGET                     1
Name: 0, dtype: object
Empty DataFrame
Columns: [NAME, AGE, GENDER, PERCENT, PASS/FAIL, PUNCTUALITY, BEHAVIOUR, DEPARTMENT, DISCIPLINE SCORE, SEMESTER, ARREARS, SPORTS, INTERNSHIP, PROJECTS, TARGET]
Index: []

In [28]:
df_cleaned = df.dropna()

In [26]:
print(df.describe())

              AGE    PERCENT  DISCIPLINE SCORE    SEMESTER     ARREARS  \
count  100.000000  100.00000        100.000000  100.000000  100.000000
mean    18.230000   59.00000          6.310000    4.200000    1.280000
std      1.062254   23.10538          1.440363    0.887625    1.333939
min     17.000000   30.00000          3.000000    2.000000    0.000000
25%     17.000000   37.75000          5.000000    4.000000    0.000000
50%     18.000000   54.50000          7.000000    4.000000    1.500000
75%     19.000000   79.25000          7.000000    5.000000    2.250000
max     20.000000  100.00000          9.000000    6.000000    4.000000

       INTERNSHIP    PROJECTS      TARGET
count  100.000000  100.000000  100.000000
mean     0.600000    0.740000    0.500000
std      0.635642    0.733333    0.502519
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      1.000000    1.000000    0.500000
75%      1.000000    1.000000    1.000000
max      2.000000    2.000000    1.000000