In [5]:
name = "janani"    #variables and datatypes
age = 19
height = 5.2
is_student = True
print("My name is", name)
print("I am", age, "years old.")

My name is janani
I am 19 years old.

In [2]:
# Arithmetic operators
a = 10
b = 3
print(a + b)  
print(a ** b) 
print(a > b) 
print(a > 5 and b < 5)

13
1000
True
True

In [9]:
name = input("Enter your name: ")   #in and output
print("Hello", name)
age = int(input("Enter your age: "))
print("In 5 years, you will be", age + 5)

Enter your name:  Janani V

Hello Janani V

Enter your age:  19

In 5 years, you will be 24

In [16]:
marks=89           #conditional statement
if marks >=90:
    print("very Good")
elif marks >=74:
    print("good")
else:
    print("improve")

good

In [19]:
#for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
#while loop
n=1
while n <=3:
    print(n)
    n +=1

1
2
3

In [25]:
#list
fruits = ["apple", "banana", "mango"]
print(fruits[1])        
fruits.append("grape")  
print(fruits)

banana
['apple', 'banana', 'mango', 'grape']

In [26]:
#tuples
colors = ("red", "green", "blue")
print(colors[0])

red

In [29]:
#dict
person={"name": "jan", "age":20}
print(person["name"])

jan

In [30]:
#set
num={1,2,3,4,5}
print(num)

{1, 2, 3, 4, 5}

In [33]:
name=input("name: ")
age=int(input("age: "))
if age>= 18:
    print(name, "is an adult")
else:
    print(name, "is an minor")

name:  nancy
age:  36

nancy is an adult